[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MLGL"]
	path = MLGL
	url = https://github.com/modal-inria/mlgl
[submodule "RMixtComp"]
	path = RMixtComp
	url = https://github.com/modal-inria/mixtcomp
	subdir = RMixtComp
[submodule "RMixtCompIO"]
	path = RMixtCompIO
	url = https://github.com/modal-inria/mixtcomp
	subdir = RMixtCompIO
[submodule "RMixtCompUtilities"]
	path = RMixtCompUtilities
	url = https://github.com/modal-inria/mixtcomp
	subdir = RMixtCompUtilities
[submodule "Rankcluster"]
	path = Rankcluster
	url = https://github.com/modal-inria/rankcluster
[submodule "cfda"]
	path = cfda
	url = https://github.com/modal-inria/cfda
